# Problem 1

In [1]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [2]:
mtcars[2,"disp"]

[1] 160

# Problem 2

In [3]:
mtcars[1:3,c("hp")]

[1] 110 110  93

In [4]:
mtcars[["hp"]]

 [1] 110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66  52
[20]  65  97 150 150 245 175  66  91 113 264 175 335 109

# Problem 3

In [5]:
mylist=list(sex = c(1,1,1,1,2,2,2,2,2,2), smoking = c(1,0,1,0,1,0,0,0,1,1), age=c(21:30))

In [6]:
lapply(mylist, function(kk){ kk*2 })

$sex
 [1] 2 2 2 2 4 4 4 4 4 4

$smoking
 [1] 2 0 2 0 2 0 0 0 2 2

$age
 [1] 42 44 46 48 50 52 54 56 58 60

In [7]:
sapply(mylist, min)

    sex smoking     age
      1       0      21

Yes, lappy() returns a list of the similar length as input list object, each element of which is the result of applying FUN to the corresponding element of list. 
Whereas, sapply() function takes list, vector or data frame as input and gives output in vector or matrix. 
Therefore, lapply and sapply are different.

# Problem 4

In [9]:
zz=matrix(c(c(1,2,NA), c(3,4,5), 6:9), nrow = 2, ncol = 5, byrow = TRUE)
zz

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    NA   3    4
[2,] 5    6     7   8    9

In [10]:
apply(zz,MARGIN = 1, FUN = sum, na.rm=TRUE)

[1] 10 35

In [11]:
apply(zz,MARGIN = 2, FUN = mean, na.rm=TRUE)

[1] 3.0 4.0 7.0 5.5 6.5

# Problem 5

In [ ]:
var = read.table(file="test.txt",header=TRUE)
var

In [14]:
class(var)

[1] "data.frame"

# Problem 6

In [15]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [16]:
df = head(mtcars)
df_1 = select(df, hp, drat, wt, qsec, vs)
df_1

                  hp  drat wt    qsec  vs
Mazda RX4         110 3.90 2.620 16.46 0
Mazda RX4 Wag     110 3.90 2.875 17.02 0
Datsun 710         93 3.85 2.320 18.61 1
Hornet 4 Drive    110 3.08 3.215 19.44 1
Hornet Sportabout 175 3.15 3.440 17.02 0
Valiant           105 2.76 3.460 20.22 1

In [17]:
filter(df, hp > 100)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [18]:
arrange(df, mpg)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [19]:
mutate(df, wt1000 = wt * 1000)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb wt1000
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    2620
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    2875
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    2320
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    3215
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    3440
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    3460